@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #F5F5F5;
  
}

main{
}

button{
  
  font-weight: bold;
  line-height: 145%;
}

h1{
  font-family: "Dela Gothic One", sans-serif;
}

#badgeIntro{
  background: linear-gradient(to left, #3951E5, #E693A5);
}

#carousel{
  background: linear-gradient(to left, #FE9C9C, #314EE7);

}

@media (prefers-color-scheme: dark) {
  #root {
    
  }
}